body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Red Rose', cursive;
  align-items: center;
}

h5{
    font-weight: 300;
    font-size: medium;
}

.first{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top : 5px;
    margin-right: 12px;
}

.text {
	color:black;
    font-size: 30px;
    text-align: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buffer {
	height: 2rem;
}

.btn {
	font-weight: 700;
	border-radius: 100px;
	text-transform: uppercase;
}
.btn-xl {
	padding: 1rem 2rem;
}
.btn-primary {
	background-color: #F05F44;
	border-color: #F05F44;
}
.btn-primary:hover {
	background-color: #ee4b08;
	border-width: 7px;
	border-color: #ee4b08;
}

.zone {

    font-size:2em;
    border-radius:10px;
    border:1px solid white;
    transition: all 0.3s linear;
}
.box {
    background-color:white; 
    padding: 30px;
}

.box > img {
    width: 100%;
}  

/***********************************************************************
 *  Dropdown Button
 **********************************************************************/

.btnStyle {
     position: absolute;
     margin-left: 50rem;
     top:12px;
     right: 12px;
}
 dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

.menubtn {
    width: 1rem;
    height: 1rem;
}


/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */

